/* RESET STYLES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --blue-link: #0066cc;
  --black: black;
  --c-pointer: pointer;
  --line-size: calc(32 * 26.3%);
}
.btn-primary {
  cursor: var(--c-pointer);
  margin-bottom: 20px;
  background-color: #00a1b0;
  color: white;
  cursor: pointer;
  border: none;
  padding-bottom: 1rem;
  padding: 0.9rem 1.1rem;
}

.contenedor {
  display: none;
  width: 95vw;
}

.contenedor-mobil {
  display: block;
  margin-bottom: 2rem;
}
.btn-primary:hover,
.show > li:hover {
  cursor: pointer;
  color: #e0e0e0;
}

header {
  text-align: start;
  /* border-bottom: 1px solid #00a1b0; */
  margin-bottom: 10vh;
}
.text-white {
  font-size: 1.7rem;
  color: white;
}
.text-left {
  text-align: left;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h-dynamic {
  min-height: 4.5%;
  max-height: fit-content;
}

.bolder {
  font-weight: bold;
}

ol {
  list-style: none;
}

ol.index > a {
  text-align: center;
  /* border: 1px solid black; */
  margin: 1rem 1re;
}

/* h1::before{
  content: "Hola";
} */

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-pointer {
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .d-none {
  display: block;
}

h2 {
  text-align: center;
}

.responsive-container {
  height: 50%;
}
/**  comprobe si el checkbox esta marcat o no per a mostrar un text o un altre */
/* input[type=checkbox]~#Mlabel::after {
  content: "Mostrar index";
  font-weight: bolder;

  color: var(--blue-link);
  cursor: pointer;
} */

/* input[type=checkbox]:checked~#Mlabel::after {
  content: "";
  cursor: pointer;
}

input[type=checkbox]:checked~#Mlabel::after {
  content: "No mostrar index";
  font-weight: bolder;
  color: var(--black);
  cursor: pointer;
} */

.showReponsive {
  display: none;
  grid-template-columns: repeat(2, minmax(120px, 150px));
}
.showResponsive > a {
  align-self: center;
  width: 100%;
  height: 100%;

  text-align: center;
  min-height: 50px;
  color: white;
  background-color: #00a1b0ad;
}

.show > li > a {
  color: white;
}
.show > li:hover,
.show > li > a:hover {
  color: #e0e0e0;
}
.link-show {
  color: var(--blue-link);
}

.jcc {
  justify-content: center;
}

.nav {
  text-align: center;
}

.pos-rel {
  position: relative;
  top: 20px;
  left: 0;
}

#csv:checked {
  background-color: red;
}

#Ocultar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7b9fe0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 2000px;
  padding: 0 10px;
  margin: 0 auto;
}

.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.text-decoration-none {
  text-decoration: none;
}

/* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto 40px;
  background: var(--primary-color);
}

.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

/* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(34, minmax(22%, 1fr));
  gap: 75px;
}

#mostrar:checked + .d-none {
  display: block;
}

.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 11.5%;
  width: var(--line-size);
  height: 2px;
  background: var(--black);
}

.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: var(--black);
}

.level-2-wrapper li {
  position: relative;
}

a[href="mailto:"] {
  display: block;
}

.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2 {
  width: 100%;
  margin: 0 auto 40px;
  background: var(--level-2);

  /* color: #ffffff; */
}

.level-2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}

/* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.col-2 {
  grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(80%, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.level-3 > b,
.level-3 > i,
.level-3 > a {
  font-size: 0.95rem;
  display: block;
}
.level-4 > b,
.level-4 > i,
.level-4 > a {
  font-size: 0.85rem;
  display: block;
}

/* .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  } */
.col-2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: var(--black);
}

.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 30px;
  background: var(--black);
}

.col-2 > li::before {
  height: 20px;
}

.colEmpleats::after {
  content: "";
  position: absolute;
  top: 30.5%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.horizontal::after {
  content: "";
  position: absolute;
  top: 120%;
  left: calc(25% - -5px);
  width: calc(50% + 83px);
  height: 2px;
  background: var(--black);
}

.level-3 {
  margin-bottom: 20px;
  background: var(--level-3);
}

/* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-4-wrapper {
  position: relative;
  width: 80%;
  margin-left: auto;
}

.level-4 > a > b,
.level-4 > i {
  font-size: 0.8rem;
  display: block;
}

.level-4-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 2px;
  /* height: calc(100% + 20px); */
  height: calc(100% - 0.75vh);
  background: var(--black);
}

.level-4-wrapper-alt::before {
  content: "";
  position: absolute;
  top: 36.5%;
  left: 105%;
  width: 2px;
  height: calc(75%);
  background: var(--black);
}

.level-4-wrapper li + li {
  margin-top: 20px;
}

.level-4-alt {
  position: inherit;
  left: 120%;
  top: 20px;
  margin-top: 20px;
}

.level-4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.7 rem;
  font-weight: normal;
  background: var(--level-4);
}

.level-4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}

.level-4-wrapper > li {
  margin: 5px 0px;
}

/* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .benestar {
    min-height: 250vh;
  }
  .rectangle {
    padding: 20px 10px;
  }
  ol.index {
    display: none;
  }
  .level-1,
  .level-2 {
    width: 100%;
  }

  .level-1 {
    margin-bottom: 20px;
  }

  .level-1::before,
  .level-2-wrapper > li::before {
    display: none;
  }

  .level-4-wrapper::before {
    content: "";
    position: absolute;
    top: 21%;
    left: 168px;
    width: 2px;
    height: calc(100% + 20px);
    height: calc(100% - 2%);
    background: var(--black);
  }

  /* Linees vertical Contractacio */
  .colEmpleats::after {
    content: "";
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }

  /**Linea horizontal Contractacio*/
  .horizontal::after {
    content: "";
    position: absolute;
    top: 120%;
    left: calc(52% + 5px);
    /* width: calc(55% + 89px); */
    height: 2px;
    background: var(--black);
  }

  /* .level-2-wrapper::after, */
  .level-2-wrapper,
  .level-2::after {
    display: block;
  }

  .level-2-wrapper {
    width: 90%;
    margin-left: 10%;
  }

  .level-2-wrapper::before {
    left: -20px;
    width: 2px;
    height: calc(100% + -8.9%);
  }

  .level-2-wrapper > li:not(:first-child) {
    margin-top: 50px;
  }

  .level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    /* height: calc(100% + 20px); */
    height: calc(100% - 2%);
    background: var(--black);
  }
  .level-4-wrapper-alt::before {
    top: 21%;
  }
}

.grid-container {
  margin: 20px 20px;
  display: grid;
  column-gap: 5px;
  row-gap: 10px;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  justify-content: center;
  align-items: center;
}

.grid-container > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-height: 75px;
  background-color: #00a1b0;
}
.grid-container > a > li {
  color: white;
}
.grid-container > a:hover,
.grid-container > a > li:hover {
  color: #e0e0e0;
}
.button-Scroll {
  display: none;
  background-color: #00a1b05c;
  color: white;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
}

.button-Scroll:hover {
  cursor: pointer;
  background-color: #00a1b0a9;
}
@media screen and (min-width: 720px) and (max-width: 1001px) {
  .level-4 > b,
  .level-4 > i,
  .level-4 > a {
    font-size: 0.75rem;
    display: block;
  }
  .h-dynamic {
    min-height: 10%;
    max-height: fit-content;
  }
  .contenedor-mobil {
    display: block;
  }

  .grid-container {
    grid-template-columns: repeat(4, minmax(25%, 1fr));
  }
}
@media screen and (min-width: 1001px) and (max-width: 1199) {
  .h-dynamic {
    min-height: 10%;
    max-height: 5vh;
  }
  .contenedor-mobil {
    display: none;
  }
  .contenedor {
    position: absolute;
    margin-top: 35vh;
    z-index: 9;
  }
  .grid-container {
    grid-template-columns: repeat(5, minmax(20%, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .h-dynamic {
    min-height: 10%;
    max-height: 10vh;
  }
  .contenedor-mobil {
    display: none;
  }
  .contenedor {
    display: block;
    position: absolute;
    margin-top: 35vh;
    z-index: 9;
  }
  .grid-container {
    grid-template-columns: repeat(6, minmax(16.67%, 1fr));
  }
}
.d-none {
  display: none;
}

  .h5{
    margin-left: 10px;
    font-size: .95rem;
    font-weight: bold;
    display: inline;
  }
  .text-decoration-none{
    text-decoration: none;
    font-weight: bolder;
  }
  .text-white{
    color: white;
  }
  
  .orientacion{
    flex-direction: column;
  }
 
  .footer{
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
  
  .mb-33vh{
    height: 33vh;
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px){
    .img-responsive{
      display: block;
      width: 75%;
      height: auto;
    }
    .grid-col{
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .footer{
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      justify-content: center;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:992px) {
    .img-responsive{
      display: inline-block;
      width: auto;
      height: auto;
    }
    /* #chartdiv{
      width: 90%;
      height: 800px;
    } */
    .grid-col{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .footer{
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      justify-content: center;
    }
    .img-responsive{
      display: inline-block;
      width: auto;
      height: 30%;
    }
  }
  @media screen and (min-width:993px) and (max-width:1200px) {
    /* #chartdiv{
      width: 90%;
      height: 800px;
    } */
  
    .img-responsive{
      display: inline-block;
      width: 25%;
      height: 30%;
    }
  
    .footer{
      grid-template-columns: repeat(3, minmax(33%, 1fr));
      justify-content: center;
    }
  }
  @media screen  and (min-width:1201px) {
    /* #chartdiv{
      width: 80%;
      height: 800px;
    } */
    .footer{
      grid-template-columns: repeat(3, minmax(24%, 1fr));
      justify-content: center;
    }
  }
  
  @media screen and (min-width:1201px) {
    .img-responsive{
      width: 40%;
      height: auto;
    }

    .reducir{
      width: 20%;
    }
  
      .footer{
      height: 200px;
      grid-template-columns: repeat(3, minmax(24%, 1fr));
      justify-content: center;
    }
  }
  @media screen and (min-width:769px) {
   
    .orientacion{
      flex-direction: row;
    }
   
  
    .img-container{
      flex-direction: row;
    } 
  
    .h5{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .footer-img{
      margin-right: 20px;
    }
  }
  
  @media screen and (min-width:1200px) {
    .p-absolute {
      position: absolute;
      left: 5px;
    }
  }

  
  
  #chartdiv {
    width: 100%;
    height: 80vh;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .ive{
    width: 60%;
    height: auto;
  }

  .text-center{
    text-align: center;

  }
  /* #chartdiv {
    width: 100%;
    height: 475px;
  } */
  .footer{
 
    margin-top: 2.5rem;
    font-size: 0.9rem;
    height: clamp(33vh, 575px,50vh);
    background-color: #5b6770;
    color:white;
    gap: 0px;
    align-items: center;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, minmax(1fr, 1fr));
    row-gap: 5px;
  }
  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jself-start{
    justify-self: center;
  }
 .flex-column{
  flex-direction: column;
 }

.nav-footer{
  list-style-type: none;
}
.nav-footer>li>a{
  font-size: 0.95rem;
}
.flex-col{
  flex-direction: column;
}
 @media screen and (min-width: 768px){
  .footer{
    height: clamp(15vh, 575px,30vh);
    grid-template-columns: repeat(3, minmax(33%, 1fr));
  }
  .grid-col{
    grid-column-start: auto;
    grid-column-end: auto;

  }
  
  .flex-col{
    flex-direction: row;
  }
 }